<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/730458730331897949/775703314762563653/favicon-310.png">
    <title>Edit Comment</title>
</head>
<body>
    <h1>ASK — MATE</h1>
    <br>
    <br>
    <form id="edit-question-form" method="post">        
    
        <label id="edit-question-message" for="question-message" >Edit Comment</label>
        <br>
        <textarea id="edit-question-message-cell" name="message" rows="7" cols="50" placeholder="Detailed Question">{{ input_comment["message"] }}</textarea>

        <br>
        <br>
        <!-- Allow the user to submit the form. -->
        <button type="submit" id= "submit-edited-question-button">
        Submit coomment!</button>
    </form>

    <br>
    <br>
    
    <form action="/list">
        <button id="back-to-question-from-edit-button">
            ◀  Back to questions</button>
    </form>
</body>
</html>