<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/730458730331897949/775703314762563653/favicon-310.png">
    <title>Main Page</title>

</head>
<body>

        <!-- this is the main page, can be deleted or edited to look prettier -->
        <br>
        <br>
        <h1 id="main-page-header">ASK — MATE</h1>
        

        <br>
        <h2 id="main-buttons-position">

        <form action="/list">
            <button id="main-page-button">
                List of Questions</button></form>
        <br>
        <br>

        <form action="/add-question">
            <button id="main-page-button">
                Add a new question!</button></form>
        </h2>

</body>
</html>


