<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/730458730331897949/775703314762563653/favicon-310.png">
    <title>List of questions</title>
</head>

<body>
    <h1>ASK  — MATE</h1>

<div class = "list-page-links">

<!-- -------SIGNUP & LOGIN-------- -->
    <div class="log-and-sign">
        <p>
            {%if is_logged_in == False%}
            <form id="login-signup-buttons" action="/registration">
                <button id="sign-log">Sign Up</button>
            </form>
            {%endif%}
        </p>

        <p>
            {%if is_logged_in == False%}
            <form id="login-signup-buttons" action="/login">
                <button id="sign-log">Log in</button>
            </form>
            {%endif%}
        </p>

<!-- --------USERS-PAGE---------- -->
        <p>
            <form id="list-user-button" action="/users">
                <button id="sign-log">
                    <img src="https://cdn.discordapp.com/attachments/730458730331897949/776183888355524608/user-20.png"> 
                    Users</button>
            </form>
        </p>
<!-- ---------TAG-PAGE----------- -->
        <p>
            <form id="list-tags-button" action="/tags">
                <button id="sign-log">
                    <img src="https://cdn.discordapp.com/attachments/730458730331897949/776182247308656650/18.png">
                    Tags
                </button>
            </form>
        </p>
    </div>

<!-- ----------SORT-MENU--------- -->
    <div class="sort-and-search">
        <div class="sort-menu">
            <form method="GET">
                <section>
                    <label for="sorting" >
                        <span title="Order">
                            <input id="input-background" type="submit" value="⇅" >
                        </span>
                    </label>
                <select id="sort-by" name="sort-by">
                    <option value="title">Title</option>
                    
                    <option value="submission_time">Submission Time</option>
                    
                    <option value="message">Message</option>
                    <option value="view_number">Views</option>
                    
                    <option value="vote_number">Votes</option>
                        
                </select>
                    <select id="sort-by" name="sort-order">
                        <option value="False">Ascending</option>
                        <option value="True">Descending</option>

                    </select>
                </section>
            
            </form>
        </div>

<!-- -------SEARCH - BAR---------- -->
        <div class="search">
            <form action=/search method="GET">         
                <button id="search-button" type="submit">
                    <span title="Search">
                        <p style= text-align:center;><img src="https://cdn.discordapp.com/attachments/730458730331897949/775489377173766144/pngfind.com-search-logo-png-6694830.png">
                        </p>
                    </span>
                </button>
                <input id="search-cell" type="text" name="q" placeholder="Search in questions">
            </form>
        </div>
    </div>
</div>

<br>

<!-- ----------------QUESTION LIST--------------   -->
<table class ="list-of-questions">
    {% for row in db_questions %}            
    <tr>
        <td id="td-background">
            <br>
            <form action="/question/{{row['id']}}">
                <button id="question-link-button">{{row["title"]}}</button>
            </form>

            <p id="viewed">Viewed {{row["view_number"]}} times</p>
            <p id="datetime">Added at {{row["utctime_str"]}}</p>


        <td id="vote-background"> 
            <p>
                <form action="/question/{{row['id']}}/vote_up">
                    <button id="upvote-button">▲</button>
                </form>

                <form action="/question/{{row['id']}}/vote_down">
                    <button id="downvote-button">▼</button>
                </form>
            </p>
        </td>

        <td id="vote-nr">{{row["vote_number"]}}</td>
        </td>
        
        
    </tr>

    {% endfor %}


</table>

    <br>
    <br>
    
    <!-- there is a button for going back to the main page '/' -->
    <form action="/">
        <button id="button-back-to-main">↩  Back to Main Page</button>
    </form>
    <br>
    <br>
</body>
</html>