<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/730458730331897949/775703314762563653/favicon-310.png">
    <title>Tags</title>
</head>
<body>
    <h1>ASK-MATE</h1>

    <ul>List of tags here
        <li>Placeholder item</li>
    </ul>
</body>
</html>