<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/730458730331897949/775703314762563653/favicon-310.png">
    <title>Users</title>
</head>
<body>

    <h1>ASK  — MATE</h1>
    <br>
    <p> List users here</p>

    <table>
        <th>
            <td>ID</td>
            <td>Username</td>
            <td>Registration Date</td>
            <td>Questions Posted</td>
            <td>Answers Posted</td>
            <td>Comments Posted</td>
            <td>Reputation</td>
        </th>
        <tr>
            <td>Placeholder ID</td>
            <td>Placeholder Username</td>
            <td>Placeholder Registration Date</td>
            <td>Placeholder Questions Posted</td>
            <td>Placeholder Answers Posted</td>
            <td>Placeholder Comments Posted</td>
            <td>Placeholder Reputation</td>
            
        </tr>
    </table>
    
</body>
</html>